@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection!</h1>
    <br />
    @* Link for the Image *@
        <img src="~/img/joelhilton.jpg" width="300"/>
</div>

